<div layout="column" class="projects-container">
  <div class="projects-title">VIDEOS</div>

  <!--<md-grid-list md-cols="3" md-gutter="20px" md-row-height="630px">-->
    <!--<md-grid-tile ng-repeat="project in projects">-->

      <!--<md-card>-->
        <!--<img class="md-card-image" ng-src="{{ project.image }}">-->
        <!--<md-card-title>-->
          <!--<md-card-title-text>-->
            <!--<span class="md-headline card-title">{{ project.title }}</span>-->
          <!--</md-card-title-text>-->
        <!--</md-card-title>-->
        <!--<md-card-content>-->
          <!--<md-chips ng-model="project.technologies" readonly="true"></md-chips>-->
          <!--<p class="card-description">{{ project.description }}</p>-->
        <!--</md-card-content>-->
        <!--<md-card-actions layout="row" layout-align="end center">-->
          <!--<a class="projects-icon" ng-href="{{ project.githubUrl }}">-->
            <!--<img ng-src="assets/social_icons/grey_icons/github_icon.png">-->
          <!--</a>-->
          <!--<a class="projects-icon" ng-href="{{ project.deployedUrl }}">-->
            <!--<img ng-src="assets/social_icons/grey_icons/website_icon.png">-->
          <!--</a>-->
        <!--</md-card-actions>-->
      <!--</md-card>-->

    <!--</md-grid-tile>-->
  <!--</md-grid-list>-->
</div>