<div layout="column" class="projects-container">
  <div class="projects-title">VIDEOS</div>

  <md-grid-list md-cols="3" md-gutter="40px" md-row-height="420px">
    <md-grid-tile ng-repeat="video in videos">
      <md-card md-whiteframe="8" layout-fill>
        <div class="video-wrapper">
          <iframe class="card-image" width="100%" height="100%" src="{{ video.embedUrl }}" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="md-headline card-title">{{ video.title }}</div>
        <div flex layout="row">
          <md-card-content>
            <md-chips ng-model="video.technologies" readonly="true"></md-chips>
            <p flex class="card-description">{{ video.description }}</p>
          </md-card-content>
        </div>
      </md-card>

    </md-grid-tile>
  </md-grid-list>

</div>