hk-main {
  display: block;
  background-repeat: repeat;
  padding-bottom: 40px;
}

hk-home {
  display: block;
  background-color: #404040;
  background-image: url("../assets/grass-small-75.jpg");
}

hk-projects {
  display: block;
  background-color: transparent;
  padding-bottom: 12px;
}

hk-videos {
  display: block;
  background-color: transparent;
  padding-bottom: 12px;
}
